DIGIKEY_CLIENT_ID=your_client_id
DIGIKEY_CLIENT_SECRET=your_client_secret
DIGIKEY_ENVIRONMENT=prod
DIGIKEY_REDIRECT_URI=http://localhost:5000/auth/callback/
DIGIKEY_SCOPE=productsearch offline_access
FRONTEND_AUTH_REDIRECT=http://localhost:5173/
